@import '../../styles/variables.scss';

.register {
  .registerBox {
    width: 1080px;
    padding-top: 100px;
    margin: 0 auto;

    .header {
      padding: 90px 0 50px 0;

      .joinUs {
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        -webkit-text-stroke: 2px;
      }

      .inputInfo {
        padding: 40px 0;
        font-size: 16px;
        font-weight: 900;
        text-align: center;
      }
    }
    .titleBar {
      @include flexSpaceBtw;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 30px;
      border-bottom: solid black 1px;

      .title {
        font-size: 28px;
        font-weight: bold;
      }

      .titleRight {
        display: flex;
        align-content: center;
        font-size: 14px;

        .smallSquare {
          color: #bb192e;
        }
      }
    }
    .formList {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      border-bottom: 1px solid lightgray;

      .subTitle {
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;

        &:nth-child(5),
        &:nth-child(8) {
          text-indent: 14px;
        }

        .inputTitle {
          display: flex;
          align-items: center;
          width: 155px;
          height: 40px;

          .smallSquare {
            color: #bb192e;
          }
        }

        .inputSquareNone {
          padding-left: 14px;
        }

        .input {
          display: flex;
          flex-direction: column;

          .borderRed {
            display: block;
            width: 400px;
            height: 38px;
            padding: 0 10px;
            border: 2px solid #c92300;
          }

          .borderNormal {
            display: block;
            width: 400px;
            height: 38px;
            padding: 0 10px;
            border: 1px solid gray;
          }

          .errorMessage {
            color: red;
            font-size: 14px;
          }
        }
      }
    }
  }

  .registerBtnWrapper {
    display: flex;
    justify-content: center;
    padding: 60px;

    .registerBtn {
      width: 280px;
      height: 63px;
      border: none;
      background-color: black;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
