@import '../../../styles/variables.scss';

@mixin actvieMenu {
  border: 1px solid #000;
  border-bottom: none;

  a {
    color: #000;
  }
}
$subColor: rgb(204, 204, 204);
$subFontColor: #777;

.productContent {
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
  color: #000;

  .tabMenu {
    cursor: pointer;

    .tabButton {
      ul {
        display: flex;
        height: 60px;
        line-height: 60px;
        text-align: center;

        li {
          width: 33.33%;
          border: 1px solid $subColor;
          border-bottom: 1px solid #000;

          a {
            width: 100%;
            color: $subFontColor;
          }
        }

        li + li {
          border-left: 0;
        }
      }
    }
    &:nth-child(1) {
      .tabButton {
        ul {
          li {
            &:nth-child(1) {
              @include actvieMenu();
            }
          }
        }
      }
    }
    &:nth-child(2) {
      .tabButton {
        ul {
          li {
            &:nth-child(2) {
              @include actvieMenu();
            }
          }
        }
      }
    }
    &:nth-child(4) {
      .tabButton {
        ul {
          li {
            &:nth-child(3) {
              @include actvieMenu();
            }
          }
        }
      }
    }
  }

  .productDetailContents {
    margin-top: 100px;

    .productDetaiDescription {
      margin-bottom: 100px;
      text-align: center;

      h2 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;

        span {
          display: block;
          padding: 15px;
          color: $subFontColor;
          font-size: 1.25rem;
        }
      }

      img {
        height: 600px;
        margin-top: 50px;
      }

      p {
        margin-top: 25px;
        line-height: 2;
        font-size: 1.125rem;

        .productTagName {
          margin: 20px 0;
          color: green;
        }
      }
    }

    .remove {
      padding: 25px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .productReviews {
    h2 {
      height: 100px;
      line-height: 140px;
      font-weight: bold;
      font-size: 1.75rem;

      span {
        padding-left: 20px;
        font-size: 1.25rem;
        font-weight: normal;
      }
    }

    p {
      padding-bottom: 20px;
      font-size: 1.25rem;
    }
    .productComment {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 230px;
      border-top: 1px solid #ccc;

      .userInformation {
        width: 200px;
        padding: 20px 0 0 30px;
      }

      .userComment {
        flex-wrap: wrap;
        width: 80%;
        height: 100%;
        padding: 30px;

        img {
          float: left;
          height: 160px;
          margin-right: 20px;
        }

        .content {
          float: left;
          width: 73%;
          height: 100px;
        }

        .recommend {
          float: left;
          width: 40px;
          height: 20px;
        }

        .recommendButton {
          width: 68px;
          height: 25px;
          background-color: $fontColor;
          border: 0.5px solid #777;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }

    .productCommentLists {
      margin-bottom: 100px;

      .CommentsForm {
        textarea {
          width: 100%;
          padding: 20px;
          border: 1px solid $subColor;

          &:focus {
            outline: $subColor;
          }
        }

        .commentButton {
          @include flexSpaceBtw;
          width: 100%;
          height: 60px;
          margin-bottom: 100px;
          border: 0.5px solid $subColor;
          border-top: none;

          .photoReviewButton {
            color: $subColor;

            .photoReview {
              width: 50px;
              height: 40px;
              margin-top: 10px;
              margin-left: 10px;
            }
          }

          .writeCommentButton {
            width: 140px;
            height: 100%;
            background: $fontColor;
            border: 1px solid $bgColor;
            font-weight: 600;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
  .productDelivery {
    position: relative;
    margin-bottom: 100px;
    padding: 30px;

    p {
      line-height: 1.5;
    }
  }
}
