@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: $fontColor;
}

input,
select {
  outline: none;
}
