$bgColor: #000;
$fontColor: #fff;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceBtw {
  display: flex;
  justify-content: space-between;
}

@mixin positionDefault {
  position: absolute;
  top: 0;
  left: 0;
}
