.productDetail {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  .productThumbnail {
    img {
      width: 600px;
    }
  }
  .productInfo {
    .categoryFiltering {
      width: 100%;
      background-color: yellow;
    }
  }
}
