@charset "utf-8";
@import '../../styles/variables.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: $bgColor;
  z-index: 9999;

  .innerNav {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;

    .logo {
      width: 240px;
      height: 34px;
      margin-top: 36.275px;
      padding-left: 20px;

      img {
        width: 100px;
      }
    }

    .gnbWrapper {
      width: 65%;

      .gnb {
        display: flex;
        justify-content: space-evenly;

        li {
          position: relative;
          width: 100px;
          height: 100px;
          line-height: 100px;
          text-align: center;
          font-size: 1.125rem;

          &:hover ::before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 26px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
          }
        }
      }
    }

    .users {
      .icon {
        width: 26px;
        height: 26px;
        margin: 37px 15px;
        color: $fontColor;
      }
    }
  }

  .lnbWrapper {
    display: flex;
    justify-content: center;
    height: 390px;
    background-color: rgba(41, 41, 41, 0.9);

    .lnb {
      display: flex;
      justify-content: space-evenly;
      width: 780px;
      padding-top: 5px;
      margin-left: 60px;
      color: #999;

      .SubMenu {
        li {
          width: 100px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-weight: 100;
          &:hover {
            text-decoration: underline;
          }
          &:nth-child(1) {
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
